html
  head
    block head
      script(src='/static/scripts/min.sohu.js')
      link(href='/static/styles/min.sohu.css',rel="stylesheet",type="text/css")
  body
    block content
    footer
      p footer